
body{
	color: #00000;
	font-family: "Bauhaus 93";

	
}

header{
	background-color: rgba(115,92,72,1.00);
	text-align: left;
	padding: 10px 0;
}

#hero{
	background-color: rgba(0,0,0,0.60);
	background-blend-mode: multiply;
	background-image: url("../img/michael-maasen-ZY7fuakuXJ0-unsplash.jpg");
	background-size: cover;
	background-position: center;
	padding: 150px 0;
	color: #FFFFFF;
	
}

#hero p{
	text-align: center;
	font-size: 20px;
}

#hero h1{
	text-align: center;
	font-size: 50px;
	font-weight: 800;
	margin-bottom: 30px;
	
}
.mivi{
	
	background-color: #FDF3F3;
}


footer{
	
	background-color: #434141;
	padding: 20px 0;
	color: #FFFFFF;
}