body{
	font-family: "Bauhaus 93 Regular";
    margin: 0;
    padding: 0;
}

header{
	background-color: #725B47;
	padding: 10px 0;
	text-align: left;
	
}

header img{
	width: 200px;
}


#hero {
    background-image: url("../img/pexels-rdne-8198567.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero h1 {
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-size: 36px;
    margin: 0;
}

#infopro .card {
    border: none;
    margin-bottom: 30px;
}

#infopro .card img {
    width: 150%;
    border-radius: 0px;
}

#infopro .card-body {
    padding: 20px;
}

#infopro .card-title {
    font-size: 28px;
    color: #F9F5F6;
}

#infopro .card-text {
    font-size: 16px;
    color: #F8F8F8;
}

#infopro .bg-danger {
    background-color: #FFC851 !important;
}

#infopro .bg-warning {
    background-color: #F77C29 !important;
}

#infopro .bg-info {
    background-color: #159E64 !important;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

footer .container img {
    width: 200px;
}

footer h4 {
    margin-top: 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 10px 0;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
}

footer ul li a:hover {
    color: #ff8c00;
}

footer .row {
    display: flex;
    justify-content: space-between;
}

footer .row article {
    width: 22%;
}